.flex-outer li,
.flex-inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex: auto;
  padding-bottom: 1%;
}
.flex-outer > li > label,
.flex-outer li p {
  flex: 1 0 120px;
  //   max-width: 220px;
}

.flex-outer > li > label + *,

.flex-inner {
  //   flex: 1 0 220px;
}
.flex-inner > li > div {
  width: 80%;
}
.flex-outer > li > div {
  width: 100%;
}
.flex-inner {
  justify-content: space-between;
}

.btn-style{
  justify-content: space-evenly;
}
